<html>
	<head>
		<title>Perfilador SOMA</title>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
		<script src="https://polygit.org/components/webcomponentsjs/webcomponents-lite.js"></script>
		
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
		<link rel="import" href="./perfilacion">
	</head>
	<body>
		
		<nav class="navbar navbar-default"
			<div class="containter-fluid" >
				<div class="navbar-header">
				  <a href="#" class="navbar-brand"><span style="font-size: 22px; font-weight:bolder;">S<i  class="fa fa-circle"></i>MA</span></a>
				  <button class="btn btn-default navbar-right navbar-btn">Automático</button> 
				</div>
				
				
				
				
			</div>
		</nav>
		<div class="container">

			

			<div class="row">
				<div class="col-xs-12 col-md-4">
					<perfilador-card ></perfilador-card>
				</div>
				<div class="col-xs-12 col-md-8">
					<p class="h2">Gráficos crudos</p>
					<img class="img-responsive center-block" src="/plot">
				</div>


			</div>

		</div>

	</body>
</html>
