<html>
<head>
	<title>Perfilador SOMA</title>
	<script src="static/bootstrap.min.js"></script>
	<link rel="stylesheet" href="static/bootstrap.min.css">
	<link href="static/font-awesome.min.css" rel="stylesheet">
	<link href="static/fontawesome-webfont.woff" rel="stylesheet">
</head>
<body>
	<div>
		<nav class="navbar navbar-default">
			<div class="containter-fluid" >
				<div class="navbar-header">
					<a href="#" class="navbar-brand"><span style="font-size: 22px; font-weight:bolder;">S<i  class="fa fa-circle"></i>MA</span></a>
					<!--<button class="btn btn-default navbar-right navbar-btn">Automático</button>-->

				</div>
			</div>
		</nav>


		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4 well">
					<p class="h3" id="info">Parámetros del sensor</p>
					<form>
						<label class="control-label">Tipo de sensor</label>
						<div class="radio">
						  <label>
						    <input type="radio" name="sensorTypeRadios" id="perfilador" value="perfilador">
						    Perfilador
						  </label>
						</div>
						<div class="radio">
						  <label>
						    <input type="radio" name="sensorTypeRadios" id="polarimetro" value="polarimetro">
						    Polarimetro
						  </label>
						</div>
						<div class="form-group">
							<label class="control-label">IP del sensor</label>
							<input class="form-control" type="text" placeholder="IP del sensor" id="ip">
						</div>
						<button id='resetBtn' type="submit" class="btn btn-default" onclick='resetSensor()'>Reiniciar sensor</button>
					</form>
				</div>

				<div class="col-xs-12 col-md-4 well">
					<p class="h3" id="info">Diametro promedio del haz</p>
					<p class="h4" id="data"></p>
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#plotModal">Mostrar datos crudos</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="plotModal" tabindex="-1" role="dialog" aria-labelledby="plotModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Gráficos crudos</h4>
				</div>
				<div class="modal-body">
					<img class="img-responsive" id="plot_img">
					<button type="button" class="btn btn-primary btn-lg" onclick="downloadRawData()">Bajar datos crudos</button>
				</div>
			</div>
		</div>
	</div>
	<script src='static/app.js'></script>
</body>
</html>
